body{
    background-color: rgb(24, 23, 23);
    color:antiquewhite;
    margin-right: 3em;
    margin-left: 3em;
}

div {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
header{
    text-align: center;
    position: relative;
    height: 100%;
}



